@import "./styles/colors.scss";
@import "./styles/header.scss";
@import "./styles/footer.scss";
@import "./styles/content.scss";
@import "./styles/buttons.scss";
@import "./styles/images.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@font-face {
  font-family: CyberpunkGrotesque;
  src: url("terminal-grotesque_open.otf") format("opentype");
}
:root {
  --border-w: 2px;
}
* {
  margin: 0;
  color: var(--text-color);
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: var(--body-color);
  font-family: "Open Sans";
}

.hover-pointer {
  cursor: pointer;
}

/* Content Template */
