:root {
  --transition-time: 0.3s;
  --skill-display-time: 0.7s;
  --rotation: 80deg;
  --y-offset: -2000px;
  --hide-ease: cubic-bezier(0.53, 0.01, 0.75, 0.48);
  --show-ease: cubic-bezier(0.81, 0.26, 0.53, 0.99);
}

.content-container-list {
  display: flex;
  justify-content: center;
}

.pan-up-content-container {
  animation: panUpAndOut var(--skill-display-time) var(--show-ease) forwards;
}

.pan-down-content-container {
  animation: panDown var(--skill-display-time) var(--hide-ease) forwards;
}

@keyframes panDown {
  0% {
    z-index: -200;
    transform: translateY(var(--y-offset));
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes panUpAndOut {
  0% {
    z-index: -200;
    transform: translateY(0px);
    opacity: 1;
  }

  100% {
    transform: translateY(var(--y-offset));
    opacity: 0;
  }
}

.content-headline {
  width: 100%;
  margin: 0.3em;
  font-family: CyberpunkGrotesque;
  font-size: 3rem;
}

.content {
  display: flex;
  width: 100%;
}

.content-container {
  max-width: 100%;
  position: absolute;
  transition: transform var(--transition-time) ease-in,
    opacity var(--transition-time) ease-in;
  display: flex;
  flex-wrap: wrap;
  background: radial-gradient(
    rgba(255, 255, 255, 0.2) 0.1em,
    transparent 0.1em
  );
  background-position: 0% 0%;
  background-size: 2em 2em;
  background-color: var(--background-color-black);
  border-radius: 5px;
  width: 70em;
  .navigation {
    z-index: 20;
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 1em;

    button {
      background-color: rgb(0, 212, 223);
      box-shadow: rgb(0, 212, 239) 0px 3px 10px -1px;
      border: 0;
      z-index: 10;
      border-radius: 5px;
      font-size: 2rem;
      padding: 0 0.5em 0 0.5em;
    }

    button:hover {
      cursor: pointer;
    }

    button:disabled {
      opacity: 0;
    }

    button:hover:disabled {
      cursor: default;
    }

    .left-btn {
      margin-right: auto;
      margin-left: 1rem;
    }

    .right-btn {
      margin-left: auto;
      margin-right: 1rem;
    }
  }
  .content-info {
    margin: 1em;
    width: 50em;
    h2 {
      margin-bottom: 0.2em;
    }
  }
  .content-images {
    margin: 1em;
    width: 13em;
    height: 20em;
    position: relative;
    border-radius: 10px;
    margin-left: auto;
    .content-image {
      width: 100%;
      position: absolute;
      transition: opacity 600ms ease-in;
      object-fit: contain;
      background-color: white;
      border-radius: 10px;
    }

    .fade-image {
      z-index: -10;
      opacity: 0;
    }

    .show-image {
      z-index: 5;
      opacity: 1;
    }
  }
}

.content-hide {
  position: relative;
  animation: hide-content var(--transition-time) ease-in forwards;
}
.content-show {
  position: relative;
  top: 150px;
  opacity: 0;
  animation: show-content var(--transition-time) ease-in forwards 0.2s;
}

.pan-left-content-container {
  transform: translateX(-60%) rotateY(-80deg);
  opacity: 0.1;
  animation: hide-20;
}

.pan-right-content-container {
  transform: translateX(60%) rotateY(80deg);
  opacity: 0.1;
  animation: hide-20;
}

.skill-table {
  margin-top: 1em;
  width: 50em;
  height: 14em;
  tr {
    td {
      font-size: 1.5em;
      padding: 5px;
      text-align: center;
    }
    td:hover {
      cursor: pointer;
      background-color: var(--background-color-white);
      color: var(--text-color-black);
    }
  }
}

.skill-container {
  display: flex;
  justify-content: center;
  transform: translateY(2000px);
  .skill-showcase {
    z-index: 300;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    background: radial-gradient(
      rgba(255, 255, 255, 0.2) 0.1em,
      transparent 0.1em
    );
    background-position: 0% 0%;
    background-size: 2em 2em;
    background-color: var(--background-color-black);
    border-radius: 5px;
    width: 70em;
    button {
      background-color: red;
    }
    button:hover {
      cursor: pointer;
    }
  }
}

.hide-skill {
  animation: hideSkill var(--skill-display-time) var(--hide-ease) forwards;
  position: relative;

  z-index: -20;
}

.show-skill {
  animation: showSkill var(--skill-display-time) var(--show-ease) forwards;
}

@keyframes showSkill {
  0% {
    transform: translateY(4000px);
    opacity: 1;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes hideSkill {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }

  10% {
    opacity: 0.6;
  }

  20% {
    opacity: 0.3;
  }

  30% {
    opacity: 0;
    display: none;
  }

  100% {
    transform: translateY(4000px);
    opacity: 0;
    display: none;
  }
}

@keyframes show {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide-20 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes show-content {
  0% {
    top: 150px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes hide-content {
  0% {
    top: 0px;
    opacity: 1;
  }
  100% {
    top: 150px;
    opacity: 0;
  }
}
