:root {
  --transition-time: 0.3s;
  --rotation: 80deg;
}

.content-container-list {
  display: flex;
  justify-content: center;
  background-color: rgba(240, 240, 240, 0.1);
}

.content-container h2 {
  font-family: CyberpunkGrotesque;
  font-size: 3rem;
}

.content-container {
  position: absolute;
  transition: transform var(--transition-time) ease-in,
    opacity var(--transition-time) ease-in;
  display: flex;
  flex-wrap: wrap;
  background: radial-gradient(rgba(255, 255, 255, 0.2) 8%, transparent 8%);
  background-position: 0% 0%;
  background-size: 3vmin 3vmin;
  background-color: var(--card-color);
  border-radius: 5px;
  width: 70em;

  .navigation {
    z-index: 20;
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 1em;

    button {
      background-color: rgb(0, 212, 223);
      box-shadow: rgb(0, 212, 239) 0px 3px 10px -1px;
      border: 0;
      z-index: 10;
      border-radius: 5px;
      font-size: 2rem;
      padding: 0 0.5em 0 0.5em;
    }

    button:hover {
      cursor: pointer;
    }

    button:disabled {
      opacity: 0;
    }

    button:hover:disabled {
      cursor: default;
    }

    .left-btn {
      margin-right: auto;
      margin-left: 1em;
    }

    .right-btn {
      margin-left: auto;
      margin-right: 1em;
    }
  }
}

.content-content-hide {
  position: relative;
  animation: hide-content var(--transition-time) ease-in forwards;
}
.content-content-show {
  position: relative;
  top: 150px;
  opacity: 0;
  animation: show-content var(--transition-time) ease-in forwards 0.2s;
}
.content {
  display: flex;

  .content-info {
    margin: 1em;
    h2 {
      margin-bottom: 0.2em;
    }
  }

  .content-images {
    margin: 1em;
    width: 50em;
    height: 20em;
    position: relative;
    .content-image {
      position: absolute;
      border-radius: 5px;
      width: 100%;
      object-fit: contain;
      transition: opacity 500ms ease-in;
    }

    .fade-image {
      z-index: -10;
      opacity: 0;
    }

    .show-image {
      z-index: 5;
      opacity: 1;
    }
  }
}

.pan-left-content-container {
  transform: translateX(-60%) rotateY(-80deg);
  opacity: 0.1;
  animation: hide-20;
}

.pan-right-content-container {
  transform: translateX(60%) rotateY(80deg);
  opacity: 0.1;
  animation: hide-20;
}

.show-content-container {
  z-index: 10;
  transform: translateX(0%) rotateY(0deg);
  animation: show 0s;
}

@keyframes show {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide-20 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes show-content {
  0% {
    top: 150px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes hide-content {
  0% {
    top: 0px;
    opacity: 1;
  }
  100% {
    top: 150px;
    opacity: 0;
  }
}
