/* Header Template */
.header {
  background-color: var(--card-color);
  z-index: 10;
  display: flex;
  font-size: clamp(1rem, 2vw, 3rem);
  pointer-events: none;
  h1 {
    font-family: "Space Mono", monospace;
    color: var(--background-color);
    margin: 0.2em auto;
    padding: 0.1em 1em 0.1em 0.3em;
    background-color: whitesmoke;
  }
  margin-bottom: 1em;
}
