.content-image {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  object-fit: contain;
  border: 2px solid black;
  transition: opacity 500ms ease-in;
}

.fade-image {
  z-index: -10;
  opacity: 0;
}

.show-image {
  z-index: 5;
  opacity: 1;
}
